@charset "utf-8";
/* CSS Document */
body {
			background-color: black;
			height: 100%;
		}
		@media (min-width: 320px) and (max-width: 1199px){
			.content {
			top: 33px;
			height: 258px;
			width: 272px;
		}
		.tagline {
			height: 148px;
			width: 272px;
			color: #FFFFFF;
			font: bold 31px 'Roboto';
			line-height: 37px;
			bottom: auto;
			padding-bottom: 30px;
		}
		.about-text {
			top: 30px;
			height: 80px;
			width: 272px;
			color: #FFFFFF;
			font-family: 'Roboto';
			font-size: 14px;
			letter-spacing: 0;
			line-height: 16px;
		}
		.group {
			top: 150px;
			width: 100%;
		}
			.socialicons {
				top: 30%;
				float: left;
			}
			.socialicons >span {
				padding: 8px;
				color: white;
				font-size: 22px;
			}
			.socialicons >span>a{
				color: white;
			}
			.group>img{
				width: 100%;
			}
			.logo>img{
				width: 120px;
			}
			.logo{
				top: 20px;
			}
			
		}
		@media (min-width: 768px) {
			.content {
				top: 60px;
				float: left;
			}
			.group {
				top: -120px;
				width: 100%;
			}
			.group>img{
				width: 100%;
			}
			.logo>img{
				width: 100px;
			}
			.logo{
				top: 10px;
			}
		}
		
		@media (min-width: 1200px) {
		.content {
			top: 250px;
			height: 312px;
			width: 480px;
			float: left;
		}
		.tagline {
			height: 228px;
			width: 480px;
			color: #FFFFFF;
			font: bold 48px 'Roboto';
			letter-spacing: 0;
			line-height: 58px;
			bottom: auto;
			padding-bottom: 30px;
		}
		.about-text {
			top: 30px;
			height: 54px;
			width: 480px;
			color: #FFFFFF;
			font-family: 'Roboto';
			font-size: 16px;
			letter-spacing: 0;
			line-height: 18px;
			float: left;
		}
		.group {
			top: -120px;
			height: 1024px;
			width: 100%;
		}
			.socialicons {
				top: 30%;
				float: left;
			}
			.socialicons >span {
				padding: 8px;
				color: white;
				font-size: 22px;
			}
			.socialicons >span>a{
				color: white;
			}
			.logo>img{
				width: 120px;
			}
			.logo{
				top: 40px;
			}

		}
